  </div>
  <footer class="footer mt-auto py-3">
        <div class="container"align="center">
            <img src="/resources/andrewGopherized.png" height="200" width="200">
            <br>
            <span class="text-muted" >Created by <a href="https://github.com/andrewstruve">{{ .CompanyName }}</a></span>
        </div>
    </footer>
    
  </div>
</body>
</html>