<!DOCTYPE html>
<head>
    <title>{{ .Title }}</title>
    <link rel="stylesheet" href="/resources/css/bootstrap.min.css">
    <link rel="stylesheet" href="/resources/css/site.css">
    
</head>
<body>
  <div align="center"><h1>Welcome to {{ .Title }}!</h1></div>

  
    <nav align="center">
    <a class="btn btn-primary" href="/" role="button">Home</a>
    <a class="btn btn-primary" href="/testData" role="button">Test Data</a>
    <a class="btn btn-primary" href="/about" role="button">About</a>
      
    </nav>
  <div id="content" align="center">