<!DOCTYPE html>
<head>
    <title>{{ .Title }}</title>
    <link rel="stylesheet" href="/resources/css/bootstrap.min.css">
    <link rel="stylesheet" href="/resources/css/site.css">
    
</head>
<body>
  <div align="center"><h1>Welcome to {{ .Title }}!</h1></div>

  
    <nav align="center">
      <a href="/">Home</a>
      <a href="/about">About</a>
    </nav>
  <div id="content" align="center">