{{ template "header.gohtml" . }}
    <div>
        <h2>This page is for testing input data</h2>
        <br>
        <h3>Send Post Request Query String Parameters</h3>
        <h3>Send Post Request JSON String</h3>
        <h3>Send a Get Request</h3>
     </div>
{{ template "footer.gohtml" . }}

